<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="script" href="{% static 'javascript.js' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Király Pizza</title>
</head>

<body>

    <header>
        <div class="top">
            <div class="logo">Király Pizza</div>
            <div class="nav">
                <a href="#Fooldal">Főoldal</a>
                <a href="#etlap">Étlap</a>
                <a href="#rolunk">Rólunk</a>
                <a href="#kapcsolat">Kapcsolat</a>
                <i class='bx bx-shopping-bag' id="kosar"></i>
            </div>
            <div class="kosarr">
                <h2 class="kosar-cim">Kosarad</h2>
                <div class="kosar-tartalom">
                </div>
                <div class="total">
                    <div class="total-cime">Fizetendő</div>
                    <div class="fizetendo"><span id="totalAmount">0</span> Ft</div>

                </div>
                <a href="megrendeles/" type="html">
                    <button type="button" class="btn-buy">Fizetés</button></a>
                <i class='bx bx-x' id="zaro"></i>
            </div>
        </div>
    </header>
    <br>


    <div class="div1" id="Fooldal">

        <div>
            <div class="regisztraciosResz">

                <form action="{% url 'home' %}" method="post">
                    <table>
                        <tr>
                            <td>
                                <span class="fel">Felhasználónév
                            <td>
                                <input type="text" name="username" id="">
                            </td>
                            </span>
                            </td>
                            <td>
                                <a rel="stylesheet" href="Regisztracio/" target=”_blank” id="regisztracio">Regisztráció </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fel">Jelszó
                            </td>
                            <td>
                                <input type="text" name="password">
                            </td>
                            </span>

                        </tr>
                        
                    </table>


                    <br>

                    <span id="bntbelep"><Button>Belépés</Button></span>
                    {% if user.id != None %}
                    <a href="{% url 'kijelentkezes' %}">{{ user }}</a>
                    {% endif %}

                    {% csrf_token %}
                    {{error_message}}



                </form>

            </div>
            <div class="balra">
                <p>Éhes vagy?</p>
                <h1>Ne várj</h1>
                <p>Rendelj tőlünk</p>
                <p>Telefonszámunk: 0670/1234567</p>
                <p>NY: H-Sz 9:00- 22:00</p>
            </div>
        </div>

        <div class="jobbra" id="étel">
            <img id="plateImage" class="plate-image" src="{% static 'food1.png' %}" alt="Étel képe">
        </div>

    </div>

    <br>
    <!--étlap rész kezdete-->
    <div>
        <h2 id="etlap" style="text-align: center;">Étlap</h2>

        <section id="menu" class="menu">


            <div class="box-container">


                <div class="box">
                    <div class="ar">2500 Ft</div>
                    <img src="{% static 'food1.png' %}" alt="" class="termekKep">
                    <div class="termekNev">Sajtos-gombás pizza</div>
                    <input type="number" min="1" max="100" value="1" class="qty" name="qty">
                    <button class="add-cart-btn" data-image='food1.png' data-name="Sajtos-gombás pizza"
                        data-price="2500">Kosárba</button>
                </div>

                <div class="box">
                    <div class="ar">2000 Ft</div>
                    <img src="{% static 'food2.png' %}" alt="" class="termekKep">
                    <div class="termekNev">Gombás pizza</div>
                    <input type="number" min="1" max="100" value="1" class="qty" name="qty">
                    <button class="add-cart-btn" data-image="food2.png" data-name="Gombás pizza"
                        data-price="2000">Kosárba</button>
                </div>


                <div class="box">
                    <div class="ar">1000 Ft</div>
                    <img src="{% static 'food3.png' %}" alt="" class="termekKep">
                    <div class="termekNev">Hawaii Deluxe</div>
                    <input type="number" min="1" max="100" value="1" class="qty" name="qty">
                    <button class="add-cart-btn" data-image="food3.png" data-name="Hawaii Deluxe"
                        data-price="1000">Kosárba</button>
                </div>

                <div class="box">
                    <div class="ar">2400 Ft</div>
                    <img src="{% static 'food4.png' %}" alt="" class="termekKep">
                    <div class="termekNev">Gyrosz Mennyország</div>
                    <input type="number" min="1" max="100" value="1" class="qty" name="qty">
                    <button class="add-cart-btn" data-image="food4.png" data-name="Gyrosz Mennyország"
                        data-price="2400">Kosárba</button>
                </div>

                <div class="box">
                    <div class="ar">3200 Ft</div>
                    <img src="{% static 'food5.png' %}" alt="" class="termekKep">
                    <div class="termekNev">Pepperoni Frenzy</div>
                    <input type="number" min="1" max="100" value="1" class="qty" name="qty">
                    <button class="add-cart-btn" data-image="food5.png" data-name="Pepperoni Frenzy"
                        data-price="3200">Kosárba</button>
                </div>

                <div class="box">
                    <div class="ar">2700 Ft</div>
                    <img src="{% static 'food6.png' %}" alt="" class="termekKep">
                    <div class="termekNev">Tengeri Álom</div>
                    <input type="number" min="1" max="100" value="1" class="qty" name="qty">
                    <button class="add-cart-btn" data-image="food6.png" data-name="Tengeri Álom"
                        data-price="2700">Kosárba</button>
                </div>

                <div class="box">
                    <div class="ar">2200 Ft</div>
                    <img src="{% static 'food7.png' %}" alt="" class="termekKep">
                    <div class="termekNev">Mediterrán Csoda</div>
                    <input type="number" min="1" max="100" value="1" class="qty" name="qty">
                    <button class="add-cart-btn" data-image="food7.png" data-name="Mediterrán Csoda"
                        data-price="2200">Kosárba</button>
                </div>

                <div class="box">
                    <div class="ar">1500 Ft</div>
                    <img src="{% static 'food8.png' %}" alt="" class="termekKep">
                    <div class="termekNev">Mexikói Pikáns</div>
                    <input type="number" min="1" max="100" value="1" class="qty" name="qty">
                    <button class="add-cart-btn" data-image="food8.png" data-name="Mexikói Pikáns"
                        data-price="1500">Kosárba</button>
                </div>

                <div class="box">
                    <div class="ar">1800 Ft</div>
                    <img src="{% static 'food9.png' %}" alt="" class="termekKep">
                    <div class="termekNev">Vegán Szenzáció</div>
                    <input type="number" min="1" max="100" value="1" class="qty" name="qty">
                    <button class="add-cart-btn" data-image="food9.png" data-name="Vegán Szenzáció"
                        data-price="1800">Kosárba</button>
                </div>

            </div>


            <!-- étlap rész vége -->
            <div>

                <h2 style="text-align: center;" id="rolunk">
                    Rólunk
                </h2>
            </div>
            <div class="container">
                <div class="balra2">
                    <img src=" {% static 'image1.jpg' %} " alt="Pizza" class="kepecske"
                        title="https://unsplash.com/photos/pepperoni-pizza-OklpRh8-Sns">
                </div>
                <div class="jobbra2">
                    <p class="text">
                        Üdvözöljük a Király Pizza világában! Ha vágyik egy kulináris utazásra az olasz ízek
                        birodalmába,
                        akkor
                        jó helyen jár! A Király Pizza olyan hely, ahol az ízek találkoznak a kényelemmel, és ahol a
                        vendégszeretet mindig otthonosan cseng. Engedje meg, hogy elcsábítsuk önt az aromás, frissen
                        sült
                        pizzák, a ropogós tészták és a gazdag ízek világába. Különleges ételeinkkel és barátságos
                        kiszolgálásunkkal minden alkalommal egy emlékezetes gasztronómiai élményben lesz része.
                        Üdvözöljük a Király Pizza-ban, ahol minden szelet egy újabb kalandra hív!
                    </p>
                </div>
            </div>


            <section class="footer">
                <h2 style="text-align: center;" id="kapcsolat">
                    Kapcsolat
                </h2>

                <div class="box-container">

                    <div class="box">
                        <i class="fas fa-phone"></i>
                        <h3>Telefon</h3>
                        <p>0670/1234567</p>
                    </div>

                    <div class="box">
                        <i class="fa-sharp fa-solid fa-location-dot"></i>
                        <h3>Címünk</h3>
                        <p>4025 Debrecen, Széchenyi u. 58.</p>
                    </div>
                    <!---->
                    <div class="box">
                        <i class="fas fa-clock"></i>
                        <h3>Nyitvatartás</h3>
                        <p>H-Sz 9:00- 22:00</p>
                    </div>

                    <div class="box">
                        <i class="fa-regular fa-envelope"></i>
                        <h3>E-mail cím</h3>
                        <p>kiralypizza@kiralypizza.hu</p>
                    </div>

                </div>
            </section>

            {% load static %}


            <script src="static/javascript.js"></script>



</body>

</html>