<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesReg.css' %}">
</head>
<body>
    <div class="container">
        <h1>Regisztráció</h1>
        {{error_message}}
        <form action="{% url 'regiszracio' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="vezeteknev">Felhasználónév:</label>
                <input type="text" id="password" name="username" required>
            </div>
            <div class="form-group">
                <label for="vezeteknev">jelszó:</label>
                <input type="text" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="vezeteknev">jelszó újra:</label>
                <input type="text" id="vezeteknev" name="password2" required>
            </div>
            <div class="form-group">
                <label for="vezeteknev">Vezetéknév:</label>
                <input type="text" id="vezeteknev" name="vezeteknev" required>
            </div>
            <div class="form-group">
                <label for="keresztnev">Keresztnév:</label>
                <input type="text" id="keresztnev" name="keresztnev" required>
            </div>
            <div class="form-group">
                <label for="lakcim">Lakcím:</label>
                <input type="text" id="lakcim" name="lakcim" required>
            </div>
            <div class="form-group">
                <label for="telefonszam">Telefonszám:</label>
                <input type="tel" id="telefonszam" name="telefonszam" required>
            </div>
            <div class="form-group">
                <label for="email">Email cím:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Regisztráció</button>
        </form>
        <a href="{% url 'home' %}" type="html" class="back-to-home">Vissza a Főoldalra</a>
    </div>
</body>
</html>
